:root {
  --white-color: #ffffff;
  --hero-foot-bg: #2F303A;
  --team-butt-bg: #F5F4FA;
  --primary-color-text: #757575;
  --title-color-text: #212121;
  --active-bg-color: #2196F3;
  --active-butt-bg: #188CE8;
  --footer-color-a: rgba(255, 255, 255, 0.6);
  --bg-hero: rgba(47, 48, 58, 0.4);
  --icon: #AFB1B8;
  --border-clients: rgba(175, 177, 184, 1);
  --footer-icon: rgba(255, 255, 255, 0.1);
  --time-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  font-family: "Roboto", "Verdana", "Arial", "snas-serif";
  color: var(--primary-color-text);
  background-color: var(--white-color);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: "Raleway", "snas-serif";
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-color-text);
}

.web-logo {
  color: var(--active-bg-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity var(--time-animation), visibility var(--time-animation);
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time-animation), box-shadow var(--time-animation);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.form-title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color-text);
}

.personal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.personal-title {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.71;
}

.personal-input {
  width: 100%;
  padding: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  transition: outline-color var(--time-animation);
  pointer-events: painted;
}
.personal-input:focus, .personal-input:hover {
  outline: 1px solid var(--active-bg-color);
  outline-color: var(--active-bg-color);
  cursor: pointer;
}

.personal-input:focus + svg,
.personal-input:hover + svg {
  fill: var(--active-bg-color);
}

.contract .personal-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0;
}

.personal-icon {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  translate: 0 -50%;
}

.personal.comment {
  margin-bottom: 20px;
}

.personal-comment {
  display: block;
  height: 120px;
  padding-left: 16px;
  resize: none;
  outline: none;
}
.personal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.personal-contract {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color-text);
  border-radius: 2px;
}

.contract {
  flex-direction: row;
  transition: fill var(--time-animation);
}

.contarct-ok:checked + label span {
  background-color: var(--active-bg-color);
}

.contarct-ok:checked + label svg {
  fill: var(--white-color);
}

.modal-icon-contract {
  position: absolute;
  top: 0;
  left: 0;
  fill: transparent;
}

.submit {
  display: block;
  padding: 10px 52px;
  margin: 0 auto;
}

.terms-contract {
  color: var(--active-bg-color);
}

button {
  font: inherit;
  cursor: pointer;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.button-sub {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--active-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border-width: 0;
  transition: background-color var(--time-animation);
}
.button-sub:hover, .button-sub:focus {
  background-color: var(--active-butt-bg);
}

button.sub-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 26px;
  padding-right: 0;
  width: 200px;
}

.filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.filters__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background-color: var(--team-butt-bg);
  border-radius: 4px;
  border-color: var(--another-white);
  border-width: 0;
  padding: 6px 22px;
  transition: background-color var(--time-animation), color var(--time-animation), box-shadow var(--time-animation);
}
.filters__btn:hover, .filters__btn:focus {
  background-color: var(--active-bg-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-color-text);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.page-header__box {
  display: flex;
  padding: 0 15px;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}
.navigation__item {
  display: block;
}

.navigation__link {
  position: relative;
  color: var(--title-color-text);
  display: inline-block;
  padding: 32px 0;
}
.navigation__link::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--active-butt-bg);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform var(--time-animation);
}
.navigation__link:hover::after, .navigation__link:focus::after, .navigation__link.current--page::after {
  transform: scalex(1);
}

.activ {
  text-decoration: none;
  transition: color var(--time-animation);
}
.activ:hover, .activ:focus, .activ.current--page {
  color: var(--active-bg-color);
}

.contact {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 50px;
}
.contact__item {
  display: flex;
}
.contact__link {
  position: relative;
  color: var(--title-color-text);
  display: inline-block;
  padding: 32px 0;
}
.contact__icon {
  margin-right: 10px;
}

.contact__icon--black {
  display: flex;
  align-items: center;
  color: var(--primary-color-text);
  fill: currentColor;
}

.hero {
  margin: 0 auto;
  max-width: 1600px;
  background-color: var(--hero-foot-bg);
  padding: 200px 15px;
  text-align: center;
  background-image: linear-gradient(var(--bg-hero), var(--bg-hero)), url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.feature {
  display: flex;
  gap: 30px;
}
.feature__item {
  max-width: 270px;
}
.feature__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-color-text);
  text-transform: uppercase;
}
.feature__page {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}
.feature__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--team-butt-bg);
  margin-bottom: 30px;
}

.section--feature {
  padding-bottom: 0;
}

.work {
  display: flex;
  gap: 30px;
}
.work__wrap {
  position: relative;
}
.work__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  padding: 27px 15px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.sec-team {
  background-color: var(--team-butt-bg);
}

.team {
  display: flex;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  gap: 30px;
}
.team__list {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
.team__wrap {
  padding: 30px 0;
}
.team__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: var(--title-color-text);
}
.team__page {
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  fill: var(--icon);
  transition: background-color var(--time-animation), fill var(--time-animation);
}
.social__link:hover, .social__link:focus {
  background-color: var(--active-bg-color);
  fill: var(--white-color);
}

.clients {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients__link {
  display: flex;
  padding: 15px 32px;
  border: 1px solid var(--border-clients);
  border-radius: 4px;
  fill: var(--icon);
  transition: border-color var(--time-animation), fill var(--time-animation);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--active-bg-color);
  fill: var(--active-bg-color);
}

.footer {
  background-color: var(--hero-foot-bg);
  padding: 60px 0;
}
.footer__warp {
  display: flex;
  align-items: baseline;
  gap: 93px;
}
.footer__logo {
  color: var(--white-color);
}
.footer__title {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer--social {
  display: flex;
  gap: 10px;
}
.footer__link {
  color: var(--white-color);
}
.footer--reverse {
  background-color: var(--footer-icon);
  fill: var(--white-color);
}

.address {
  font-style: normal;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  color: var(--footer-color-a);
}

.footer-form {
  display: flex;
  gap: 12px;
}
.footer-form__contact {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-foot-bg);
  padding: 15px 16px;
  width: 350px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer-form__contact::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__overlay {
  position: relative;
  overflow: hidden;
}
.portfolio__wrapper {
  text-decoration: none;
  display: block;
  transition: box-shadow var(--time-animation);
}
.portfolio__wrapper:hover, .portfolio__wrapper:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform var(--time-animation);
}
.portfolio__wrapper:hover .portfolio__text, .portfolio__wrapper:focus .portfolio__text {
  transform: translateY(0);
}
.portfolio__box {
  padding: 20px 24px;
  border: 1px solid rgb(238, 238, 238);
  border-top: 0;
}
.portfolio__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color-text);
}
.portfolio__page {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-color-text);
}/*# sourceMappingURL=main.css.map */