.work {
    display: flex;
    gap: 30px;

    &__wrap {
        position: relative;
    }
    
    &__text {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: 70px;
        padding: 27px 15px;
        text-align: center;

        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--white-color);
        background-color: rgba(47, 48, 58, 0.8);
    }
}
