.hero {
    margin: 0 auto;
    max-width: 1600px;
    background-color: var(--hero-foot-bg);
    padding: 200px 15px;
    text-align: center;
    background-image: linear-gradient(var(--bg-hero), var(--bg-hero)), url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        margin: 0 auto;
        margin-bottom: 30px;
        width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-color);
    }
    
}


