.feature {
   
    &__title {
        margin-top: 0;
        margin-bottom: 10px;
        text-align: center;
        font-size: 14px;
        line-height: 1.14;
        color: $title-color-text;
        text-transform: uppercase;
        
        @media screen and (min-width: $tablet) {
            text-align: left;
        }
    }

    &__page {
        margin: 0;
        font-size: 14px;
        line-height: 1.71;
    }

    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: 120px;
        background-color: $team-butt-bg;
        margin-bottom: 30px;
        
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}
.feature__item {
    max-width: 450px;
    @media screen and (max-width: calc($tablet - 1px) ) {
        &:not( :last-child ) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: $tablet) {
        width: 354px;
    }  
    @media screen and (min-width: $pc) {
        flex-basis: calc((100% - 90px)/4);
    }
}

.section--feature {
    padding-bottom: 60px;

    @media screen and (min-width: $pc) {
            padding-bottom: 0;
        }
    
}