.hero {
    max-width: $mobile;
    background-color: $hero-foot-bg;
    padding: 118px 0;
    
    margin: 0 auto;

    text-align: center;
    background-image: linear-gradient($bg-hero, $bg-hero), url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    

    @media screen and (min-width: $tablet) {
        max-width: 696px;
        padding: 200px 15px;
        font-size: 44px;
    }

    @media screen and (min-width: $pc) {
        width: 696px;
        padding: 200px 15px;
        font-size: 44px;
    }

}

.hero__title {
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
}
