.page-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.page-header__box { 
    @media screen and (max-width: calc( $tablet - 1px)  )  {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 10px 16px 15px;
        flex-wrap: nowrap;
    }    
    @media screen and (min-width: $tablet) {
        
    }
    

}

.page-header__warps {         
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
    }
}

.page-navigation {
    display: flex;
    align-items: center;
    
}

.navigation {
    display: none;

    @media screen and (min-width: $tablet) {

        display: flex;
        margin-left: 93px;
        gap: 50px;
    }
    &__item {
        display: block;
    }

}

.navigation__link {
    position: relative;
    color: $title-color-text;
    display: inline-block;
    padding: 32px 0;

    &::after {
        position: absolute;
        left: 0;
        bottom: -1px;

        content: "";
        width: 100%;
        height: 4px;
        background-color: $active-butt-bg;
        border-radius: 2px;

        transform: scaleX(0);
        transition: transform $time-animation;
    }

    &:active:after,
    &.current--page::after {
        transform: scalex(1);
    }
    @media screen and (min-width: $pc) {
        &:hover:after,
        &:focus:after {
            transform: scalex(1);
        }
    }
}

.activ {
    text-decoration: none;
    transition: color $time-animation;
    &:active,
    &.current--page {
        color: $active-bg-color
    }
   
    
    &:hover,
    &:focus{
        color: $active-bg-color
    }
      
}

.contact {
    display: none;
    

    &__item {
        display: flex;
        @media screen and (min-width: $tablet) and (max-width: $pc)  {
            
            
        }
        @media screen and (min-width: $tablet) and ( max-width: calc($pc - 1px) ) {
            display: block;
            .contact__link {
                padding: 19px 0 5px 0;
            }
            

            &:last-child .contact__link {
                padding: 5px 0 19px 0;
            }
        }
    }

    &__link {
        position: relative;
        color: $title-color-text;
        display: inline-block;

        
        
    }

    &__icon {
        margin-right: 10px;
    }       
    @media screen and (min-width: $tablet) and (max-width: $pc) {
        display: block;
    }
    @media screen and (min-width: $pc) {
        display: flex;        
        gap: 30px;        
    }
}


.contact__icon--black {
    display: flex;
    align-items: center;
    color: $primary-color-text;
    fill: currentColor;
}