.hero {
    max-width: $mobile;
    
    background-color: $hero-foot-bg;
    padding: 118px 0;
    
    margin: 0 auto;
    
    
    text-align: center;
    background-image: linear-gradient($bg-hero, $bg-hero), url(../images/index/hero/background-mobile.jpg);
    @include respons {
        background-image: linear-gradient($bg-hero, $bg-hero), url(../images/index/hero/background-mobile@2x.jpg);
    }
    background-size: cover;
    background-repeat: no-repeat;
    

    @media screen and (min-width: $tablet) {
        max-width: $tablet;
        font-size: 44px;

        background-image: linear-gradient($bg-hero, $bg-hero), url(../images/index/hero/background-tablet.jpg);
        @include respons {
            background-image: linear-gradient($bg-hero, $bg-hero), url(../images/index/hero/background-tablet@2x.jpg);
        }
    }

    @media screen and (min-width: $pc) {
        max-width: 1600px;
        
        padding: 200px 0;
        font-size: 44px;

        background-image: linear-gradient($bg-hero, $bg-hero), url(../images/index/hero/background-desktop.jpg);
        @include respons {
            background-image: linear-gradient($bg-hero, $bg-hero), url(../images/index/hero/background-desktop@2x.jpg);
        }
    }

}

.hero__title {
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;

    @media screen and (min-width: $tablet) {
        width: 400px;
    }
    @media screen and (min-width: $pc) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}
