.clients {


    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    
    @media screen and (min-width: $pc) {
        flex-wrap: nowrap;
    }
}
.clients__link {    
    display: flex;
    justify-content: center;
    width: 210px;
    padding: 15px 32px;
    border: 1px solid $border-clients;
    border-radius: 4px;
    fill: $icon;
    transition: border-color $time-animation, fill $time-animation;
    
    &:hover,
    &:focus {
        border-color: $active-bg-color;
        fill: $active-bg-color;
    }
    &:active {
            border-color: $active-bg-color;
            fill: $active-bg-color;
        }
    @media screen and (min-width: $tablet) {
        width: 226px;
    }
    @media screen and (min-width: $pc) {
        width: 170px;
        
    }
}

