.portfolio {

    @media screen and (min-width: calc($tablet - 1px) ) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }  
    
    &__item {
        @media screen and (min-width: $mobile) and (max-width: calc( $tablet - 1px)) {
          &:not( :last-child ) {
            margin-bottom: 30px;
          }  
        }
        @media screen and (min-width: $tablet) and (max-width: calc($pc - 1px) ) {
            width: 370px;
            flex-basis: calc((100% - 30px)/2 );
        }
        
    }

    &__overlay {
        position: relative;
        overflow: hidden;
    }

    &__wrapper {
        text-decoration: none;
        display: block;
        transition: box-shadow $time-animation;

        @media screen and (min-width: $tablet) {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }

    &__text {
        position: absolute;
        left: 0;
        top: 0;
        max-width: 100%;
        max-height: 100%;

        padding: 77px 24px;

        font-size: 18px;
        line-height: 1.56;
        color: $white-color;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(101%);
        transition: transform $time-animation;


        .portfolio__wrapper:hover &,
        .portfolio__wrapper:focus & {
            transform: translateY(0);
        }

        @media screen and (min-width: $tablet) {
            
        }
    }

    &__box {
        padding: 20px 24px;
        border: 1px solid rgba(238, 238, 238, 1);
        border-top: 0;

        @media screen and (min-width: $tablet) {
            flex-grow: 1;
        }        
    }

    &__title {
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $title-color-text;
    }

    &__page {
        font-size: 16px;
        line-height: 1.88;
        color: $primary-color-text;
    }   
}