.sec-team {
    background-color: $team-butt-bg;
}
.team {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
        @media screen and (min-width: $pc) {            
            flex-wrap: nowrap;    
        }
}
.team__list {
    
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $white-color;
    
    @media screen and (max-width: calc($tablet - 1px)) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    
}

.team__wrap {
    padding: 30px 0;
}

.team__title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    color: $title-color-text;
}

.team__page {
    margin-bottom: 16px;
}
