.feature {
    display: flex;
    gap: 30px;

    &__item {
        max-width: 270px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.14;
        color: var(--title-color-text);
        text-transform: uppercase;
    }

    &__page {
        margin: 0;
        font-size: 14px;
        line-height: 1.71;
    }
    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        background-color: var(--team-butt-bg);
        margin-bottom: 30px;
    }
}

.section--feature {
    padding-bottom: 0;
}


