.footer {
    background-color: $hero-foot-bg;
    padding: 60px 0;
    text-align: center;
}
.footer__warps {
    @media screen and (max-width: calc($tablet - 1px)) {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
    @media screen and (min-width: $pc) {
        text-align: left;
    }
}
.footer__warp {    
    @media screen and (min-width: $tablet) {
            display: flex;
            align-items: baseline;
            gap: 185px;
            row-gap: 60px;
            flex-wrap: wrap;
            justify-content: center;
        }
    
        @media screen and (min-width: $pc) {
            flex-wrap: nowrap;
            gap: 93px;
        }    
}


.footer__logo {    
    color: $white-color;    
}

.footer__title {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-color;    
}

.footer--social {
    display: flex;
    gap: 10px;
}
.footer__link {
    color: $white-color;
}

.address {
    font-style: normal;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.71;
}

.address__item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: $tablet) {
            margin-bottom: 9px;
        }
}

.address__link {
    color: $footer-color-a;
}

.footer-form {
    @media screen and (min-width: $pc) {
            display: flex;
            gap: 12px;
        }
}
.footer-form__contact {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $hero-foot-bg;
    padding: 15px 16px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $white-color;
    margin-bottom: 20px;
    
    @media screen and (min-width: $tablet) {            
            width: 450px;
        }
    @media screen and (min-width: $pc) {
            margin-bottom: 0;
            width: 350px;
        }
}

.footer-form__contact::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.footer--reverse {
    background-color: $footer-icon;
    fill: $white-color;
}

button.sub-footer {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    padding-left: 26px;
    padding-right: 10px;
    width: 200px;
}