.section__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: $title-color-text;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;


    @media screen and (min-width: $pc) {

        margin-bottom: 50px;
        font-size: 36px;
        text-align: center;
    }
    
}