.container {
    max-width: $mobile;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    
    @media screen and (min-width: $tablet) {
        max-width: $tablet;
    }
    @media screen and (min-width: $pc) {
        max-width: $pc;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: $tablet) {
        
    }
    
    @media screen and (min-width: $pc) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}