button {
    font: inherit;
    cursor: pointer;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 6px;

    background-color: $white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.button-sub {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $white-color;
    background-color: $active-bg-color;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    padding: 10px 24px;
    border-width: 0;
    transition: background-color $time-animation;

    &:hover,
    &:focus {
        background-color: $active-butt-bg;
    }
}



