.logo {
    font-family: 'Raleway', 'snas-serif';
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    color: var(--title-color-text);
}

.web-logo {
    color: var(--active-bg-color);
}