body .js-menu-container.is-open  {
    overflow-y: hidden;
}
.js-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white-color;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity $time-animation,
    visibility $time-animation;

}

.mobile-menu-btn {

    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    &:active {
        fill: $active-bg-color;
    }

    &.js-close-menu {
        position: absolute;
        top: 16px;
        right: 10px;
        width: 40px;
        height: 40px;
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }
}
.mobile-menu {
    z-index: 100;
    &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    &__container {
        position: relative;
        display: flex;
        
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 48px 40px;
    }
}

.mobile {

    &-navigation {        
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        &__item:not( :last-child ) {
            margin-bottom: 32px;
        }
        &__link {
            color: $title-color-text;
        }
    }
    &-contacts {
        margin-bottom: 64px;
        
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        &__item {
            margin-bottom: 32px;            
            &:first-child .mobile-contacts__link {color: $active-bg-color;}
        }
        &__link {
            color: $primary-color-text;            
        }
    }
    &-social {
        display: flex;
        flex-basis: calc((100% - 30px) / 4);
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        &__link {
            color: $active-bg-color;
        }
    }
}
.mobile-social__item {
        display: flex;
        

    &:not(:last-child):after {
            content: "";
            display: block;
            margin: 0 10px;
            
            height: 22px;
            border-left: 2px solid rgba(33, 33, 33, 0.2);
            
    }

}