.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100% ;
    max-width: 450px;
    padding: 40px;
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform $time-animation, box-shadow $time-animation;

    
    @media screen and (min-width: $tablet) {
        width: 450px;
    }
    @media screen and (min-width: $pc) {
        max-width: 528px;
        width: 528px;
    }
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.5);
}


.form-title {
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color-text;
    @media screen and (min-width: $mobile) {
        font-size: 20px;
        line-height: 1.5;
    }
    @media screen and (min-width: $pc) {        
        font-size: 20px;
        line-height: 1.15;
    }

}

.personal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.personal-title {
    margin-bottom: 4px;
    font-size: 10px;
    line-height: 1.17;
    @media screen and (min-width: $mobile) {
        font-size: 12px;
    }
    @media screen and (min-width: $pc) {
        
        &-contract {
            font-size: 14px;
            line-height: 1.71;
        }
    }
        
}

.personal-input {
    width: 100%;
    padding: 10px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    transition: outline-color $time-animation;

    pointer-events: painted;
    &:focus,&:hover {
        outline: 1px solid $active-bg-color;
        outline-color: $active-bg-color;
        cursor: pointer;
    }
}

.personal-input:focus+svg,
.personal-input:hover+svg {
    fill: $active-bg-color;
}

.contract .personal-title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0;
}

.personal-icon {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    translate: 0 -50%;
    
}

.personal.comment {
    margin-bottom: 20px;

}

.personal-comment {
    display: block;
    height: 120px;
    padding-left: 16px;
    resize: none;
    outline: none;

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}


.personal-contract {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid $title-color-text;
    border-radius: 2px;
}

.contract {
    flex-direction: row;
    transition: fill $time-animation;

    margin-bottom: 30px;
}

.contarct-ok:checked+label  .personal-contract {
    background-color: $active-bg-color;
}

.contarct-ok:checked+label svg {
    fill: $white-color;
}

.modal-icon-contract {
    position: absolute;
    top: 0;
    left: 0;
    fill: transparent;
}

.submit {
    padding: 10px 52px;
}

.terms-contract {
    color: $active-bg-color;
    @media screen and (min-width: $mobile) {    
            line-height: 1.17;
        }
    @media screen and (min-width: $pc) {    
        line-height: 1.71;
    }   
    
}