:root {
    --white-color: #ffffff;
    --hero-foot-bg: #2F303A;

    --team-butt-bg: #F5F4FA;

    --primary-color-text: #757575;
    --title-color-text: #212121;
    --active-bg-color: #2196F3;
    --active-butt-bg: #188CE8;
    --footer-color-a: rgba(255, 255, 255, 0.6);
    --bg-hero: rgba(47, 48, 58, 0.4);
    --icon: #AFB1B8;
    --border-clients: rgba(175, 177, 184, 1);
    --footer-icon: rgba(255, 255, 255, 0.1);
    --time-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}